.array-container {
    margin-top: 2%;
    padding-right: 1vh;
    padding-bottom: 1vh;
}

.array-bar {
    width: .5%;
    background-color: blue;
    display: inline-block;
    margin: 1px 1.25px;
}

.buttons {
    bottom: 0%;
    position: relative;
    padding-top: 3vh;
}

