.array-container {
    position: absolute;
    left: 3vh;
    bottom: 3vw;
    padding-right: 5px;
}

.array-bar {
    width: 3px;
    background-color: blue;
    display: inline-block;
    margin: 1px 1.25px;
}

.buttons {
    height: 50px;
    bottom: 50px;
}
