.array-container {
  margin: auto;
  position: relative;
  /*bottom: 15%;*/
  width: 96%;
  height: 85%;
  top: 0px;
  padding: 0 5px;
}

.array-bar {
  width: 0.4%;
  background-color: blue;
  display: inline-block;
  margin: 0 0.2vw;
  vertical-align: top;
  font-size: 50%;
}

#new-array-button {
  border: none;
  font-size: 2.5vw;
  width: 95%;
  height: 45.2%;
  color: #f5f6fa;
  align-self: center;
  background-color: #40739e;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  
}

.button-container {
  position: relative;
  width: 15%;
  padding: 2px 2px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  height: 50%;
  
  /*border: 5px solid coral;*/
}

.algorithms-button-container {
  position: relative;
  width: 70%;
  margin: 0 0 0 1%;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  /*border: 5px solid coral;*/
}

.separator {
  width: 2px;
  display: inline-block;
  height: 100%;
  margin-right: 1px;
  background-color: #192a56;
  align-self: center;
}

.adjusting-bar-container {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  height: 100%;
  background-color: #273c75;
  /*border: 5px solid coral;*/
}


#adjusting-bar {
  width: 85%; /* Full-width */
  height: 10%; /* Specified height */
  margin-top: 1.5vh;
  margin-bottom: 1.7vh;
  background: #d3d3d3; /* Grey background */
  /*-webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
#interface {
  position: fixed;
  height: 25%;
  border-top: 5px solid #192a56;
  bottom: 0px;
  width: 100%;
  background-color: #273c75;
}

.text {
  margin-top: 4%;
  font-size: 1.9vh;
  color: #d3d3d3;
  font-style: italic;
}

.btn-override {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.row {
  height: 98%;
}

.array-bar-text {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1.7vw;
  color: #f5f6fa;
}

.time-complexity {
  font-size: 65%;
}

.row {
  margin-bottom: 6px;
}